# This is a sample build configuration for C++.
# Check our guides at https://confluence.atlassian.com/x/VYk8Lw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.

image: ubuntu:16.04
pipelines:
  default:
    - step:
        script: # Modify the commands below to build your repository.
          - apt-get -y install cmake pkg-config cppcheck libogre-1.9-dev wget libboost-filesystem-dev libglew-dev libfreeimage-dev doxygen ruby-ronn
          - sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-latest.list'
          - wget http://packages.osrfoundation.org/gazebo.key -O - | sudo apt-key add -
          - apt-get update
          - apt-get -y install libignition-math3-dev libignition-common-dev
          - mkdir build
          - cd build
          - cmake ..
          - make -j4
          - make test ARGS="-VV"
          - cd ..
          - sh tools/code_check.sh
